[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ersin Ciftci (ersinciftci)
[access "refs/for/refs/*"]
	read = group user/Ersin Ciftci (ersinciftci)
	push = group user/Ersin Ciftci (ersinciftci)
	label-Code-Review = -2..+2 group user/Ersin Ciftci (ersinciftci)
	label-Verified = -1..+1 group user/Ersin Ciftci (ersinciftci)
	rebase = group user/Ersin Ciftci (ersinciftci)
	removeReviewer = group user/Ersin Ciftci (ersinciftci)
	submit = group user/Ersin Ciftci (ersinciftci)
[access "refs/heads/*"]
	read = group user/Ersin Ciftci (ersinciftci)
	create = group user/Ersin Ciftci (ersinciftci)
	push = +force group user/Ersin Ciftci (ersinciftci)
	pushMerge = group user/Ersin Ciftci (ersinciftci)
[access "refs/tags/*"]
	push = +force group user/Ersin Ciftci (ersinciftci)
	pushTag = group user/Ersin Ciftci (ersinciftci)
	pushSignedTag = group user/Ersin Ciftci (ersinciftci)
